{% extends "base.html" %} 
{% block title %}Checkout{% endblock %} 
{% block content %}
<h1>Cart</h1>

<div class="container">
    <h1 class="display-3">Products</h1>
    <p class="lead">Product 1</p>
    <a href="#" id="buy_now_btn" class="btn btn-primary">Checkout</a>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const checkout_public_key = '{{checkout_public_key}}';
        const checkout_session_id = '{{checkout_session_id}}'; 
    </script> 
    <script src="{{ url_for('static', filename='js/script-no-ajax.js')}}"></script>
{% endblock javascripts %}