{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}
<div class="col-md-6 mx-auto">
    <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">
        {{ form.hidden_tag() }}
        <p class="fw-bold">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                <h3>Forget Password</h3>
            {% endif %}                                  
        </p>
        <br />
        <div class="form-floating mb-3">
            {{ form.usernameoremail(class="form-control") }}
            <label for="floatingInput">Please enter username or email</label>
        </div>
        <br />
        {{form.recaptcha}}
        <br />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        <hr class="my-4">
    </form>
</div>
{% endblock %}
