{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
<div class="col-md-6 mx-auto">
  <div class="row justify-content-center">
    <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">
        <p class="fw-bold">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                <h3>Login 2FA</h3>
            {% endif %}                                  
        </p>
        <br />
        <div class="form-floating mb-3">
            <!-- <form> -->
              <div>
                <h5>Instructions!</h5>
                <ol type ="1">
                  <li>Download <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US" target="_blank">Google Authenticator</a> on your mobile.</li>
                  <li>Create a new account with <strong>setup key</strong> method.</li>
                  <li>Provide the required details (name, secret key).</li>
                  <li>Select <b>time-based</b> authentication.</li>
                  <li>Submit the generated key in the form.</li>
                </ol>
              </div>
              <div class="form-group">
                <label for="secret">Secret Token</label>
                <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
              </div>
              <br>
              <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="copySecret()">Copy Secret</button>
                
              </div>
            <!-- </form> -->
          </div>
          <br>
          <div class="form-floating mb-3">
           
            <form method="POST">
              <div class="form-group">
                <label for="otp">Generated OTP</label>
                <input type="hidden" name="secret" value="{{ secret }}" required>
                <input type="number" class="form-control" id="otp" name="otp" required>
              </div>
              <br>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Authenticate User</button>
              </div>
            </form>
          </div>
          </div>
        <br />
        <!-- <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button> -->
        <hr class="my-4">
        <small class="text-muted">
            Dont have an account? <a href="{{ url_for('auth.register')}}" class="text-right">Register</a>
        </small>
    </form>
</div>
<script>
    function copySecret() {
      /* Get the text field */
      var copyText = document.getElementById("secret");
  
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/
  
      /* Copy the text inside the text field */
      document.execCommand("copy");
  
      alert("Successfully copied TOTP secret token!");
    }
  </script>
{% endblock %}

