{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
<div class="col-md-6 mx-auto">
    <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">
        {{ form.hidden_tag() }}
        <p class="fw-bold">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                <h3>Login</h3>
            {% endif %}                                  
        </p>
        <br />
        <div class="form-floating mb-3">
            {{ form.usernameoremail(class="form-control") }}
            <label for="floatingInput">Username or Email</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.password(class="form-control", type="password") }}
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-check">
            {{ form.remember_me(id="remember_me", type="checkbox") }}
            <label for="remember_me">Remember me</label>
        </div>
        <br />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <hr class="my-4">
        <small class="text-muted">
            Dont have an account? <a href="{{ url_for('auth.register')}}" class="text-right">Register</a>
        </small>
    </form>
</div>
{% endblock %}
