{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content %}
<div class="col-md-6 mx-auto">
    <form method="post" action="" class="p-4 p-md-5 border rounded-3 bg-light">
        {{ form.hidden_tag() }}
        <p class="fw-bold">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                <h3>Reset Password</h3>
            {% endif %}                                  
        </p>
        <br />
        <div class="form-floating mb-3">
            {{ form.password(class="form-control", type="password") }}
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.passwordCheck(class="form-control", type="password") }}
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <br />
        {{form.recaptcha}}
        <br />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
    </form>
</div>
{% endblock %}
